.cont{
    width:500px;
    height:400px;
    background-color: rgb(181, 188, 183,0.5);
    margin: auto;
    margin-top: 10%;
    border: 2px solid rgb(247, 245, 244);
    position: relative;
}
.n{
    margin-left: 10%;
}
.s{
    margin-left: 35%;
}
#re{
    color: black;
    margin-left: 16%;
    font-size: 20px;
    color: #3edf09;
    position: absolute;
}
.val{
    margin-left: 10%;
}
.but{
    margin: auto;
    margin-left: 36%;
    margin-top: 10%;
    position: absolute;
}
.r{
    color: rgb(228, 23, 23);
}
h2{
    color: rgb(241, 147, 5);
}